body{
  background-color: black;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(34, 41, 80);
  border-bottom: 5px solid rgb(255, 255, 255);
  position: relative;
  height: 100px;
}

h1 a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: rgb(22, 27, 59);
  border-right: 5px solid black;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  padding: 0 1em 0 .5em;
  letter-spacing: -.15rem;
}

nav {
  width: 100%;
  font-size: 85%;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  height: 100%;
}

nav li {
  margin: 0 1.5vw;
}

nav a {
  padding: .5em;
  color: rgb(231, 231, 231);
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
}

nav a:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.15);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home Page */

h2 {
  color: white;
  font-size: 8vw;
  text-align: center;
  margin-top: 1.5em;
}

.abt-me {
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 1em 1em;
  line-height: 1.2;
  max-width: 50%;
  margin-top: 3em;
  font-weight: bold;
  letter-spacing: 1px;
}

img {
  max-width: 20rem
}

/* Projects Page */

.card-grid {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  color: white;
  display: flex;
  flex-direction: column;
  border: 0.15em solid rgb(255, 255, 255);
  padding: 1rem;
}

.card a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
  font-size: 1.2em;
  transition: all 0.3s ease;
  display: inline-block;
}

.card a:hover {
  text-decoration: underline;
  transform: scale(1.075);
  color: rgb(178, 189, 255);
}

.card-text {
  list-style-position: outside;
  list-style-type: square;
  padding-left: 1.25rem;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  background-color: rgb(34, 41, 80);
  padding: 1rem;
  text-align: center;
  border-bottom: 0.15em solid white;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  gap: 5rem;
  padding: 2rem;
  box-sizing: border-box;
}

.section-col {
  display: flex;
  flex-direction: column;
}

.sections h2 {
  font-size: 6em;
}

/* @media (max-width: 1075px) {
  nav ul {
    font-size: 1rem
  }
  nav a:hover {
    font-size: 1.2rem;
  }
} */