body{
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(34, 41, 80);
}

h1 a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: rgb(22, 27, 59);
  padding: 0 .5em;
  border-right: 5px solid black;
  display: flex;
  align-items: center;
  padding: .5em 1em .5em .5em;
}

nav {
  padding: 0 2vw 0 0;
  font-size: 85%;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
}

nav a {
  padding: .5em 3vw;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav a:hover {
  background-color: rgb(22, 27, 59);
  border-radius: .5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
  font-size: 5em;
  text-align: center;
  margin: 2em;
}

img {
  max-width: 20rem
}