body{
  background-color: black;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(34, 41, 80);
  border-bottom: 5px solid rgb(255, 255, 255);
}

h1 a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: rgb(22, 27, 59);
  padding: 0 .5em;
  border-right: 5px solid black;
  display: flex;
  align-items: center;
  padding: .5em 1em .5em .5em;
}

nav {
  width: 100%;
  font-size: 85%;
  margin-right: 165px
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
  justify-content: center;
}

nav a {
  padding: .5em;
  margin-right: 3vw;
  color: rgb(231, 231, 231);
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home Page */

h2 {
  color: white;
  font-size: 8vw;
  text-align: center;
  margin-top: 1.5em;
}

.abt-me {
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 1em 1em;
  line-height: 1.2;
  font-style: italic;
  max-width: 50%;
  margin-top: 3em
}

img {
  max-width: 20rem
}

/* Projects Page */

.card-grid {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  color: white;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  border: 0.15em solid rgb(255, 255, 255);
}

.card a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
  font-size: 1.2em;
  transition: all 0.5s ease;
}

.card-text {
  list-style-type: none;
}

.card a:hover {
  text-decoration: underline;
  font-size: 1.25em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  gap: 5rem;
  padding: 2rem;
  box-sizing: border-box;
}

.section-col {
  display: flex;
  flex-direction: column;
}

.sections h2 {
  font-size: 6em;
}